%h1 Login to ESaaS Engagements


%div.text-center
  = form_tag '/auth/github', method: :post do
    %button.btn.btn-lg.btn-google.btn-block.text-uppercase.bg-primary.text-white{ type: :submit }
      %i.fab.fa-github.mr-2
        Sign in with GitHub

